.client_container, #search_terms, #client_body, #footer, ts-message, .channel_header {
  background: #282c34 !important;
}

#msgs_scroller_div::-webkit-scrollbar-track, #client_body::before {
  background: #282c34 !important;
}

#client_body::before {
  border-bottom: 1px solid #1a2129 !important;
}

ts-message, .channel_title .channel_name { 
  color: #eee !important;
}

#message_edit_container .message_input {
	background: #282c34 !important;
}

.light_theme ts-message .message_content .message_sender, .light_theme ts-message .message_content>.message_content_header>.message_content_header_left>.message_sender {
  color: #00B2B3 !important;
}

.ql-placeholder {
  color: #AAA !important;
}

#msg_input, #primary_file_button {
  background: transparent !important;
  color: #eee !important;
}

.ts_icon {
  background: transparent;
  color: #eee;
}


.ql-editor p {
  color: #282c34;
  -webkit-filter: invert(100%) !important!;
  filter: invert(100%) !important;
}

#msg_input::-webkit-input-placeholder {
  color: #eee !important;
}

.day_divider .day_divider_label {
  color: #eee !important;
}

.day_container .day_msgs {
  border-top: 1px solid #1a2129 !important;
}

ts-message:hover, .day_divider .day_divider_label {
  background: #1A2129 !important;
}

#messages_container::after {
  background: none !important;
}

pre {
	color: #DDDDDD !important;
	background-color: #222222 !important;
}

code {
    background-color: #222 !important;
    color: #00FF00 !important;
    border: 1px solid #222 !important;
}


.file_container {
  background-color: #222222 !important;
}

.file_container pre {
  color: #DDDDDD;
}

.file_container:after {
  background-image: -webkit-linear-gradient(top,rgba(265,255,255,0) 0,#fff 300%) !important;
}

.bot_label { 
  padding: 0 4px !important;
  border-radius: 3px !important;
  background: #0a233a !important;
}

.c-message__sender_link {
	color: #86e0f7 !important;
}
.c-message__body {
  color: white !important;
}

.c-message:hover:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight), .c-message--hover:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight), .c-message--focus:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight) {
    background-color: rgb(59, 108, 119);
}

a, a:link, a:visited {
    color: #f5a200 !important;
}
