.client_container, #search_terms, #client_body, #footer, ts-message, .channel_header {
  background: #222222 !important;
}

#msgs_scroller_div::-webkit-scrollbar-track, #client_body::before {
  background: #222222 !important;
}

#client_body::before {
  border-bottom: 1px solid #1a2129 !important;
}

ts-message, .channel_title .channel_name { 
  color: #00FF00 !important;
}

.light_theme ts-message .message_content .message_sender, .light_theme ts-message .message_content>.message_content_header>.message_content_header_left>.message_sender {
  color: #FFFF00 !important;
}

.ql-placeholder {
  color: #AAA !important;
}

#msg_input, #primary_file_button {
  background: transparent !important;
  color: #00FF00 !important;
  border-color: #00FF00 !important;
}

.ts_icon {
  background: transparent;
  color: #00FF00;
}


/*.ql-editor p {
  color: #FF00FF;
  -webkit-filter: invert(100%) !important!;
  filter: invert(100%) !important;
}*/

#msg_input::-webkit-input-placeholder {
  color: #00FF00 !important;
}

.day_divider .day_divider_label {
  color: #eee !important;
}

.day_container .day_msgs {
  border-top: 1px solid #1a2129 !important;
}

ts-message:hover, .day_divider .day_divider_label {
  background: #000 !important;
}

#messages_container::after {
  background: none !important;
}

pre {
  color: #DDDDDD !important;
  border: 1px dashed #DDDDDD;
  background-color: #222222 !important;
}

code {
    background-color: #222 !important;
    color: #00FF00 !important;
    border: 1px solid #222 !important;
}


.file_container {
  background-color: #222222 !important;
}

.file_container pre {
  color: #DDDDDD;
}

.file_container:after {
  background-image: none !important;
}

.bot_label { 
  padding: 0 4px !important;
  border-radius: 3px !important;
  background: #0a233a !important;
}
